
.photo{
	
	width: 500px;
}

img {
	opacity: 0.5;
}

.panel {

	position: absolute;
	width: 460px;
	height: 150px;
	margin: -550px 20px;
	border-radius: 20px;
	background: rgba(255, 255, 255, 0.6);

}

h1 {
	margin: -8px;
	margin-left: 60px;
	font-size: 3.5em;
	line-height: 1.4;


	
}

.panel h1 {
	opacity: 1;
}



span {
	color: orange;
	font-weight: bold;
}

.name {
	position: absolute;
	margin: 100px 15px;
	color:white;
	font-size: 1.7em;
}

.name2 {
	
	display: none;
}




.photo:hover {
	opacity: 1;

}


img:hover  {
	opacity: 1;

}

.photo:hover .panel  {
	display: none;
}

.photo:hover .name2 {
	display: block;
	position: absolute;
	margin: -60px 180px ;
	color: white;
	font-size: 2.3em;
}


